body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
}

div.overlay {
  background-color: rgba(0,0,0,.25);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

div.overlay > div.login-wrapper {
  align-self: center;
  background-color: rgba(0,0,0,.25);
  border-radius: 2px;
  padding: 6px;
  width: 450px;
}

div.overlay > div.login-wrapper > div.login-content {
  background-color: rgb(255,255,255);
  border-radius: 2px;
  padding: 24px;
  position: relative;
}

div.overlay > div.login-wrapper > div.login-content > h3 {
  color: rgb(0,0,0);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.8em;
  margin: 0 0 1.25em;
  padding: 0;
}

a.close {
  background-color: rgb(204,204,204);
  border-radius: 50%;
  color: rgb(255,255,255);
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: .8em;
  padding: .2em .5em;
  position: absolute;
  top: 1.25rem;
  transition: all 400ms ease;
  right: 1.25rem;
}

a.close:hover {
  background-color: #1bc5b3;
  cursor: pointer;
}

.sidebar {
  background-color: rgb(218, 218, 218);
  color: rgb(33, 30, 49);
}

.products {
  display: flex
}

.productCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
