body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.sidebar {
  background-color: rgb(218, 218, 218);
  color: rgb(33, 30, 49);
}

.products {
  display: flex
}

.productCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
