body {
  font-family: sans-serif;
}

link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.89);
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(24, 19, 19);
}


.navBar {
  background-color: white;
  color: rgb(24, 19, 19);
  display: flex;
  flex-direction: row;
  font-size: 22px;
  font-weight: 400;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.89);
}

.navBar a:hover {
  color: rgb(18, 202, 28);
  font-weight: 500;
  text-decoration: none;
}

.navBar nav{
  width: 100%;
}

.loggedInLinks {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.adminLinks {
  color: green;
}

.navBar img {
  max-height: 40px;
}

.navBar a img {
  max-height: 30px;
}

.navTitle {
  font-size: 44px;
  font-weight: 400;
}

.sidebar {
  background-color: white;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.89);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoriesTitle {
  margin-top: 1em;
}

.category {
  background-color: white;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.89);
  border: none;
  width: 150px;
  display: flex;
  font-size: 25px;
  font-weight: 300;
}

.category:hover {
  text-decoration: none;
  background-color: rgb(18, 202, 28);
  color:white;
  border: none;
  font-weight: 400;
}

.allCategories {
  background-color: white;
  text-decoration: none;
  color: rgb(18, 202, 28);
  border: none;
  width: 150px;
  display: flex;
  font-size: 27px;
  font-weight: 400;
}

.allCategories:hover {
  background-color: white;
  text-decoration: none;
  background-color: rgb(18, 202, 28);
  color:white;
  border: none;
  font-weight: 400;
}

#welcome {
  background-image: url("cover.jpeg");
}

#userHome {
  background-image: url("apples.jpeg");
}

.landingPage {
  background-repeat: no-repeat;
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(253, 251, 251);
}

.landingPage h1 {
  font-size: 10vw;
  font-weight: 400;
  margin-top: .5em;
  text-shadow: 2px 2px rgba(3, 3, 3, 0.644);
  border-bottom: solid .15em rgba(253, 251, 251, 0.808);
  border-top: solid .15em rgba(253, 251, 251, 0.808);
  padding: .1em .5em
}

.landingPage h2 {
  font-size: 6vw;
  font-weight: 400;
  margin-top: .5em;
  text-shadow: 2px 2px rgba(3, 3, 3, 0.644);
  border-bottom: solid .15em rgba(253, 251, 251, 0.808);
  border-top: solid .15em rgba(253, 251, 251, 0.808);
  padding: .1em .5em
}

.landingPage h3 {
  margin: 2vw;
}

.landingPage div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.landingPage a {
  color: rgb(253, 251, 251);
  background-color: rgba(221, 221, 221, 0.37);
  font-size: 3vw;
  font-weight: 250;
  text-shadow: 2px 2px rgba(3, 3, 3, 0.794);
  border: .1em solid rgba(233, 231, 231, 0.794);
  border-radius: .1em;
  padding: .1em .5em
}

.landingPage a:hover {
  text-decoration: none;
  background-color: #1bc5b4a1;
  border: .1em solid #1bc5b4ec;
  color:white;
  padding: .1em .5em
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: .5em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
}

div.overlay {
  background-color: rgba(0,0,0,.25);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

div.overlay > div.login-wrapper {
  align-self: center;
  background-color: rgba(0,0,0,.25);
  border-radius: 2px;
  padding: 6px;
  width: 450px;
}

div.overlay > div.login-wrapper > div.login-content {
  background-color: rgb(255,255,255);
  border-radius: 2px;
  padding: 24px;
  position: relative;
}

div.overlay > div.login-wrapper > div.login-content > h3 {
  color: rgb(0,0,0);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.8em;
  margin: 0 0 1.25em;
  padding: 0;
}

.close {
  background-color: rgb(204,204,204);
  border-radius: 50%;
  color: rgb(255,255,255);
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: .8em;
  padding: .2em .5em;
  position: absolute;
  top: 1.25rem;
  transition: all 400ms ease;
  right: 1.25rem;
}

.close:hover {
  background-color: #1bc5b3;
  cursor: pointer;
}

.products {
  display: flex
}

.productCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
